@model Employees
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Czy na pewno chcesz usunąć poniższego pracownika?</h1>
<h4>Imię</h4>
<h7>@Model.Name</h7>
<h4>Nazwisko</h4>
<h7>@Model.Surname</h7>
<h4>Pesel</h4>
<h7>@Model.Pesel</h7>
<h4>Stanowisko</h4>
<h7>@Model.Stanowisko</h7>
<h4>Oddział</h4>
<h7>@Model.Department</h7>
<h4>Data zatrudnienia</h4>
<h7>@Model.Hire</h7>
<h4>Data zwolnienia</h4>
<h7>@Model.Fire</h7>
</br>
<form asp-action="Delete">
    <input asp-for="ID"/>
    <button class="btn btn-danger" type="submit">Tak</button>

</form>