@model Employees
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Szczegóły</h1>
<h4>Imię</h4>
<p>@Model.Name</p>
<h4>Nazwisko</h4>
<p>@Model.Surname</p>
<h4>Pesel</h4>
<p>@Model.Pesel</p>
<h4>Stanowisko</h4>
<p>@Model.Stanowisko</p>
<h4>Oddział</h4>
<p>@Model.Department</p>
<h4>Data zatrudnienia</h4>
<p>@Model.Hire</p>
<h4>Data zwolnienia</h4>
<p>@Model.Fire</p>
